.zene{
    border: 2px white solid;
    border-radius: 25%;
    margin: 20px;
    padding: 10px;
}

 h1{
    color: purple;
}

.zene h2{
    color: blueviolet;
}
.zene p{
    color: violet;
}
article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer{
    color: thistle;
}
.zene button{
    background-color: purple;
}
.ZeneKep{
    display: block;
    width: 100px;
    margin: auto;
}
    
